.header{
    background-color: white;
    max-width: 2400px;
}


/*-- insert font size and family Toboolist--*/

#Toboolist{
background-color: white;
font-size: 50px;
font-family: "Roboto", sans-serif;

 
}


/*-- button Add Task--*/

#add-task{
    border-radius: 10px 10px 10px 10px;
    background-color: #47adf1;
    color: white;
    width: 10%;
    height: 40px;
    font-family: "Roboto", sans-serif;
    border-style: none;
  
    
}

/*-- button add section--*/

#add-section{
    border-radius: 10px 10px 10px 10px;
    border-color: #e6e9eb;
    border-style: solid;
    color: #e6e9eb;
    background-color: white;
    width: 12%;
    height: 40px;
    font-family: "Roboto", sans-serif;
    }

/*-- container --*/
.container{
    background-color: white;
    border-radius:10px 10px 10px 10px;
    max-width: 2400px;
    min-width: 785px;
    margin-left:160px;
    margin-top:50px;
    margin-right:160px;
    margin-bottom:30px;
    padding:60px;
    padding-top: 30px;
    
    
    
}

.the-body{
    background-color:#f6f8f9;
    margin:0px;
}
/*-- sections style--*/
.sections{
    font-family: "Roboto", sans-serif;
  

}

/*-- section list style--*/

.section-list{
    font-family: "Roboto", sans-serif;
    
}


/*-- button editorial*/
.editorial{
    border-radius:10px 10px 10px 10px;
    border-style:none;
    width: 80px;
    height: 30px;
    background-color: #5fb7ed;
    color:white
}
/*--button Q1 Goals --*/
.Goals {
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    width:90px;
    height: 30px;
    background-color: #9c72e4;
    color: white;

}

/*-- button recuiting--*/

.recruiting{
    border-radius:10px 10px 10px 10px;
    color:white;
    border-style:none;
    background-color: #64c0a9;
    width:90px;
    height:30px;
}
/*-- button Mobile --*/
.mobile{
    border-radius: 10px 10px 10px 10px;
    border-style:none;
    width:70px;
    height:30px;
    background-color:#f29e33;
    color:white;
}
/*-- website button--*/
.website{
    border-style:none;
    border-radius: 10px 10px 10px 10px;
    color:white;
    background-color:#d863a1;
    width:80px;
    height:30px;
}
/*--sales button*/
.sales{
    border-style:none;
    border-radius:10px 10px 10px 10px;
    color:white;
    background-color:#b0c926;
    width:60px;
    height:30px;
}
/*-- checkmark --*/
.checkmark{
    display: inline-block;
    color:#c1e6dd;
    width: 13px;
    height: 19px;
    border-radius: 50%;
    border-style: solid;
    padding-inline:4px;
    border-color:#c1e6dd;

}

/*-- delete checkmark*/
.delete{
    display: inline-block;
    color:#f7c7c5;
    width: 10px;
    height: 18px;
    border-radius: 50%;
    border-style: solid;
    padding-inline:6px;
    border-color:#f7c7c5;
   }


   .break-a-line{
    margin-bottom: 15px;
   }