.header{
    background-color: white;
    max-width: 2400px;
}


/*-- insert font size and family Toboolist--*/

#Toboolist{
background-color: white;
font-size: 50px;
font-family: "Roboto", sans-serif;
 
}


/*-- button Add Task--*/

#add-task{
    border-radius: 10px 10px 10px 10px;
    background-color: #47adf1;
    color: white;
    width: 13%;
    height: 40px;
    font-family: "Roboto", sans-serif;
    border-style: none;
    margin-left:80px;
    
}

/*-- button add section--*/

#add-section{
    border-radius: 10px 10px 10px 10px;
    border-color: darkgray;
    border-style: solid;
    color: darkgray;
    background-color: white;
    width: 150px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    }

/*-- container --*/
.container{
    background-color: white;
    margin-left: 230px;
    margin-right: 230px;
    margin-top:40px;
    margin-bottom: 20px;
    border-radius:10px 10px 10px 10px;
    max-width: 2400px;
    padding:30px;
    
}

.body{
    background-color:#f6f8f9;
    margin:0px;
}
/*-- sections style--*/
.sections{
    font-family: "Roboto", sans-serif;
    margin-left:70px;

}

/*-- section list style--*/

.section-list{
    font-family: "Roboto", sans-serif;
}

/*-- checkbox--*/
.check-box{
    margin-left:80px;
    margin-bottom: 20px;
    
    
}
/*-- button editorial*/
.editorial{
    border-radius:10px 10px 10px 10px;
    border-style:none;
    width: 80px;
    height: 30px;
    background-color: #5fb7ed;
    color:white
}
/*--button Q1 Goals --*/
.Goals {
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    width:90px;
    height: 30px;
    background-color: #9c72e4;
    color: white;

}

/*-- button recuiting--*/

.recruiting{
    border-radius:10px 10px 10px 10px;
    color:white;
    border-style:none;
    background-color: #64c0a9;
    width:90px;
    height:30px;
}
/*-- button Mobile --*/
.mobile{
    border-radius: 10px 10px 10px 10px;
    border-style:none;
    width:70px;
    height:30px;
    background-color:#f29e33;
    color:white;
}
/*-- website button--*/
.website{
    border-style:none;
    border-radius: 10px 10px 10px 10px;
    color:white;
    background-color:#d863a1;
    width:80px;
    height:30px;
}
/*--sales button*/
.sales{
    border-style:none;
    border-radius:10px 10px 10px 10px;
    color:white;
    background-color:#b0c926;
    width:60px;
    height:30px;
}
