/*-- insert font size and family Toboolist--*/

#Toboolist{
background-color: white;
font-size: 50px;
font-family: "Roboto", sans-serif;
 
}

/*-- button Add Task--*/

#add-task{
    border-radius: 10px 10px 10px 10px;
    background-color: #47adf1;
    color: white;
    width: 13%;
    height: 40px;
    font-family: "Roboto", sans-serif;
    border-style: none;
    
}

/*-- button add section--*/

#add-section{
    border-radius: 10px 10px 10px 10px;
    border-color: darkgray;
    border-style: solid;
    color: darkgray;
    background-color: white;
    width: 150px;
    height: 40px;
    font-family: "Roboto", sans-serif;
   
}

/*-- container --*/
.container{
    background-color: white;
    margin-left: 230px;
    margin-right: 230px;
    margin-top:50px;
}

.html{
    background-color: darkgray;
}
/*-- sections style--*/
.sections{
font-family: "Roboto", sans-serif;
}
